[nomos-server]
user=nomos
group=nomos
log=/var/log/nomos
logLevel=4
logStdout=on
dataPath=/var/lib/nomos/data
listen=127.0.0.1
port=7007

; create new top level when a put command comes
autoCreateTopIndex=off
; Types can be INT32, INT64 or STRING
defaultSublevelKeyType=INT32
defaultItemKeyType=INT64

syncThreadsCount=3

serverID=1
; if replicationLogKeepTime is set to 0, replication will be turned off
; it can be set in hours (24h) or days (3d)
replicationLogPath=/var/lib/nomos/binlog
replicationLogKeepTime=24h
replicationPort=7017

; other masters in ip:port format
masters=127.0.0.1:7018,127.0.0.1:7019
